@model Centroware.Model.ViewModels.Works.WorkRelated
@{ ViewData["Title"] = Model.Work.Title; }
<style>
    .grid-image-text .in .desc ul li:before {
        background-color: #000
    }
</style>
<section class="menu-bg"></section>
<section class="header-space"></section>
<section class='work-header show-gradient b-lazy'
         data-src="/Images/@Model.Work.MainImage">
    <div class="in">
        <div class="table">
            <div class="table-cell">
                <h1 style=''>@Model.Work.Title</h1>
                <h2 style=''>@Model.Work.SubTitle</h2>
                <div class="category">@Model.Work.Category</div>
            </div>
        </div>
    </div>
</section>
<div id='toScroll'></div>
<section class="work-about" style="background-color:#0297ef">
    <div class="in">
        <ul class="list">
            <li>
                <div class="title">about</div>
                <div class="desc">
                    <p>
                        @Html.Raw(Model.Work.About)
                    </p>
                </div>
            </li>
            <li>
                <div class="title">our part</div>
                <div class="desc">
                    @Html.Raw(Model.Work.OurPart)
                </div>
            </li>
        </ul>
    </div>
</section>
@{ var leftClass = "grid-image-text  wow animate__fadeInUp layout-02";
                var rightClass = "grid-image-text grid-text-image wow animate__fadeInUp";
                for (int i = 0; i < Model.Work.Articles.Count; i++)
                {
                    var classDev = i / 2 == 0 ? leftClass : rightClass;
    <section class="@classDev" data-wow-duration="1s">
        <div class="table grid-image">
            <div class="table-cell">
                <img class='b-lazy'
                     src='/Images/@Model.Work.Articles[i].Image' data-src='/Images/@Model.Work.Articles[i].Image' alt=''>
            </div>
            <div class="table-cell"></div>
        </div>
        <div class="in">
            <div class="image"></div>
            <div class="content">
                <h2>
                    <p>
                        @Model.Work.Articles[i].Title
                    </p>
                </h2>
                <div class="">
                    @Html.Raw(Model.Work.Articles[i].Description)
                </div>
            </div>
        </div>
    </section> } }
<section class="more_works hide-in-desctop wow animate__fadeInUp" data-wow-duration="1s">
    <div class="inside">
        <div class='title'>
            <p><strong>Explore</strong> <em>more</em></p>
        </div>
        <div class="post-object">
            @foreach (var item in Model.Works)
            {
<div class="item">
    <a href='/Home/workDetails/@item.Id' class="portfolio " data-cat=""
       aria-label="IAA &#8211; Security Shift Management">
        <div class="portfolio-wrapper"
             style="background-image:url(/Images/@item.MainImage)">
            <img src=''
                 alt='' />
            <div class="label">
                <div class="label-text">
                    <div class="text-title">@item.Title</div> <span class="text-category">@item.Category</span> <span class="text-slug">
                        @item.SubTitle
                    </span>
                </div>
            </div>
        </div>
    </a>
</div>}
        </div>
    </div>
</section>

@section Scripts{
    <script src="/expert/assets/js/project.js" data-minify="1"></script>
}
